{"swagger":"2.0","info":{"description":"The API described in this document is subject to change.\n","version":"1.10.0","title":"WP Engine Hosting Platform API","termsOfService":"https://wpengine.com/legal/terms-of-service/"},"host":"api.wpengineapi.com","basePath":"/v1","schemes":["https"],"paths":{"/status":{"get":{"tags":["Status"],"summary":"The status of the WP Engine Hosting Platform API","description":"# Description\nThis endpoint will report the system status and any outages that might be occurring.\n","operationId":"status","produces":["application/json"],"responses":{"200":{"description":"Status of API","schema":{"$ref":"#/definitions/Status"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/status","responses":{"200":{"statusCode":"200"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/swagger":{"get":{"tags":["Swagger"],"summary":"The current swagger specification","description":"# Description\nThis will output the current swagger specification\n","operationId":"swagger","produces":["application/json"],"responses":{"200":{"description":"Current swagger specification"},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/swagger","responses":{"200":{"statusCode":"200"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"passthroughBehavior":"when_no_match","requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp"},"httpMethod":"GET","type":"http"}}},"/accounts":{"get":{"tags":["Account"],"summary":"List your WP Engine accounts","description":"# Description\nUse this to list your WP Engine accounts.\n","operationId":"listAccounts","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"$ref":"#/parameters/limitParam"},{"$ref":"#/parameters/offsetParam"}],"responses":{"200":{"description":"List of WP Engine accounts","schema":{"type":"object","properties":{"previous":{"$ref":"#/definitions/PreviousPage"},"next":{"$ref":"#/definitions/NextPage"},"count":{"$ref":"#/definitions/ResultsCount"},"results":{"type":"array","items":{"$ref":"#/definitions/Account"}}}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.querystring.offset":"method.request.querystring.offset","integration.request.querystring.limit":"method.request.querystring.limit"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/accounts/{account_id}":{"get":{"tags":["Account"],"summary":"Get an account by ID","description":"Returns a single Account","operationId":"getAccount","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Account"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/accounts/{account_id}/limits":{"get":{"tags":["Account"],"summary":"Fetch account usage limits","description":"Fetch account limits such as visitors, storage (GB) and bandwidth (GB) to compare against your current usage.","operationId":"getAccountsLimits","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","description":"ID of account","required":true,"type":"string","format":"uuid","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountLimits"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"502":{"$ref":"#/definitions/BadGatewayOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/limits","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"502":{"statusCode":"502"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/accounts/{account_id}/usage":{"get":{"tags":["Usage"],"summary":"Get account usage metrics","description":"Get usage metrics for all environments in an account.\nIf the optional `first_date` and `last_date` arguments are omitted, the response will include metrics for the last 30 days.\n","operationId":"getAccountUsageMetrics","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"name":"first_date","in":"query","description":"The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"last_date","in":"query","description":"The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"limit","in":"query","description":"The maximum number of environments to return. A maximum of 1000 environments can be requested per page","required":false,"type":"integer","default":100,"maximum":1000},{"name":"offset","in":"query","description":"String-encoded offset for pagination. The next_page_token from the response can be used to paginate accordingly.","required":false,"type":"string"}],"responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/AccountUsageMetricsResponse"}},"400":{"description":"Bad Request. The request was improperly formatted or contained invalid parameters.","schema":{"$ref":"#/definitions/UsageErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not Authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not Found. The requested account id does not exist.","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"default":{"description":"An unexpected error response.","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/usage","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id","integration.request.querystring.first_date":"method.request.querystring.first_date","integration.request.querystring.last_date":"method.request.querystring.last_date","integration.request.querystring.limit":"method.request.querystring.limit","integration.request.querystring.offset":"method.request.querystring.offset"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/accounts/{account_id}/usage/refresh_disk_usage":{"post":{"summary":"Refresh Disk Usage for all installs associated with account","description":"Triggers an asynchronous job to recalculate the disk usage of installs associated with a specific account.\n\nThis endpoint initiates the refresh process and returns immediately with a success status. **It does not return the updated usage data.**\n\nTo check the status of the job and view the new data once it's available, you must poll the `GET /accounts/{account_id}/usage` endpoint. A successful request will populate the `account_storage_refresh_expected_time` attribute in that endpoint's response, indicating when the data is expected to be fresh.\n\nMultiple requests for the same environment will result in a single recalculation.\n","tags":["Usage"],"produces":["application/json"],"parameters":[{"name":"account_id","in":"path","description":"The unique identifier (UUID) of the account.","required":true,"type":"string","format":"uuid","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"$ref":"#/parameters/authorization"}],"responses":{"200":{"description":"OK. The disk usage refresh has been successfully initiated. The response body for this request is always `null`."},"400":{"description":"Bad Request"},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not Authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not Found. The account with the specified UUID could not be found.","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal server error"},"502":{"$ref":"#/definitions/BadGatewayOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"},"default":{"description":"An unexpected error occurred.","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/usage/refresh_disk_usage","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"502":{"statusCode":"502"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/accounts/{account_id}/account_users":{"get":{"tags":["Account User"],"summary":"List your account users","description":"","operationId":"listAccountUsers","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"}],"responses":{"200":{"description":"List of account users","schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/AccountUser"}}}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"post":{"tags":["Account User"],"summary":"Create a new account user","description":"","operationId":"createAccountUser","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"in":"body","name":"body","description":"##### Properties\n* user - **required** - The user that will be created\n  * account_id - **required** - The ID of the account that the account_user will belong to\n  * first_name - **required** - The first name of the user\n  * last_name - **required** - The last name of the user\n  * email - **required** - The email of the user\n  * roles -- **required** - The roles the user is allowed. The following roles are valid\n    * owner\n    * full\n    * full,billing\n    * partial\n    * partial,billing\n  * install_ids - **optional** - Used with partial role selection. The ids of the installs the user will have access to.\n","required":true,"schema":{"type":"object","required":["user"],"properties":{"user":{"type":"object","description":"The user that will be created","required":["account_id","first_name","last_name","email","roles"],"properties":{"account_id":{"type":"string","format":"uuid","example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9","description":"The account ID"},"first_name":{"type":"string","example":"Joe"},"last_name":{"type":"string","example":"Smith"},"email":{"type":"string","example":"joe@gmail.com"},"roles":{"type":"string","example":"full,billing","description":"choose from 'owner', 'full,billing', 'full', 'partial,billing', and 'partial'"},"install_ids":{"type":"array","items":{"type":"string"},"example":["ddda3227-9a39-46ae-9e14-20958bb4e6c9","qada3227-9a39-46ae-9e14-20958bb4e45y"]}}}}}}],"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"message":{"type":"string","example":"Your change was successful."},"account_user":{"$ref":"#/definitions/AccountUser"}}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users","responses":{"201":{"statusCode":"201"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/accounts/{account_id}/account_users/{user_id}":{"get":{"tags":["Account User"],"summary":"Get an account user by ID","description":"Returns a single account user","operationId":"getAccountUser","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"name":"user_id","in":"path","format":"uuid","description":"ID of the user","required":true,"type":"string","x-example":"a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AccountUser"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users/{user_id}","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id","integration.request.path.user_id":"method.request.path.user_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"patch":{"tags":["Account User"],"summary":"Update an account user","description":"","operationId":"updateAccountUser","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"name":"user_id","in":"path","format":"uuid","description":"ID of the user","required":true,"type":"string","x-example":"a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"},{"in":"body","name":"body","description":"##### Properties\n* roles -- **required** - The roles the user is allowed. The following roles are valid\n  * owner\n  * full\n  * full,billing\n  * partial\n  * partial,billing\n* install_ids - **optional** - Used with partial role selection. The ids of the installs the user will have access to.\n","required":true,"schema":{"type":"object","required":["roles"],"properties":{"roles":{"type":"string","example":"full,billing","description":"choose from 'owner', 'full,billing', 'full', 'partial,billing', and 'partial'"},"install_ids":{"type":"array","items":{"type":"string"},"example":["ddda3227-9a39-46ae-9e14-20958bb4e6c9","qada3227-9a39-46ae-9e14-20958bb4e45y"]}}}}],"responses":{"200":{"description":"Updated","schema":{"type":"object","properties":{"message":{"type":"string","example":"Your change was successful."},"account_user":{"$ref":"#/definitions/AccountUser"}}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users/{user_id}","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id","integration.request.path.user_id":"method.request.path.user_id"},"passthroughBehavior":"when_no_match","httpMethod":"PATCH","type":"http"}},"delete":{"tags":["Account User"],"summary":"Delete an account user","description":"This will remove the association this user has to this account. This delete is permanent and there is no confirmation prompt.","operationId":"deleteAccountUser","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"name":"user_id","in":"path","format":"uuid","description":"ID of the user","required":true,"type":"string","x-example":"a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"}],"responses":{"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users/{user_id}","responses":{"204":{"statusCode":"204"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id","integration.request.path.user_id":"method.request.path.user_id"},"passthroughBehavior":"when_no_match","httpMethod":"DELETE","type":"http"}}},"/accounts/{account_id}/usage/summary":{"get":{"tags":["Usage"],"summary":"Get account level usage summary","description":"Get the usage summary over a time period for the specificied account. The default response is a summary of the\nlast 30 days. The optional `first_date` and `last_date` arguments can be specified to retrieve a summary over\na custom date range. Both arguments must be provided and the range cannot exceed 31 days.","operationId":"getAccountUsageSummary","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"name":"first_date","in":"query","description":"The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"last_date","in":"query","description":"The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UsageMetricsRollup"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"502":{"$ref":"#/definitions/BadGatewayOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/usage/summary","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"502":{"statusCode":"502"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id","integration.request.querystring.first_date":"method.request.querystring.first_date","integration.request.querystring.last_date":"method.request.querystring.last_date"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/accounts/{account_id}/usage/insights":{"get":{"tags":["Usage"],"summary":"Get account usage insights","description":"Get detailed usage insights for the specified account across different environment types and site types.\nThe default response is a summary of the last 30 days. The optional `first_date` and `last_date` arguments \ncan be specified to retrieve insights over a custom date range. Both arguments must be provided and the \nrange cannot exceed 31 days.","operationId":"getAccountUsageInsights","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"account_id","in":"path","format":"uuid","description":"ID of account","required":true,"type":"string","x-example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9"},{"name":"first_date","in":"query","description":"The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"last_date","in":"query","description":"The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AccountUsageInsights"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"502":{"$ref":"#/definitions/BadGatewayOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/accounts/{account_id}/usage/insights","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"502":{"statusCode":"502"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.account_id":"method.request.path.account_id","integration.request.querystring.first_date":"method.request.querystring.first_date","integration.request.querystring.last_date":"method.request.querystring.last_date"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/sites":{"get":{"tags":["Site"],"summary":"List your sites","description":"","operationId":"listSites","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"$ref":"#/parameters/limitParam"},{"$ref":"#/parameters/offsetParam"},{"$ref":"#/parameters/account_id"}],"responses":{"200":{"description":"List of sites","schema":{"type":"object","properties":{"previous":{"$ref":"#/definitions/PreviousPage"},"next":{"$ref":"#/definitions/NextPage"},"count":{"$ref":"#/definitions/ResultsCount"},"results":{"type":"array","items":{"$ref":"#/definitions/Site"}}}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/sites","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.querystring.offset":"method.request.querystring.offset","integration.request.querystring.limit":"method.request.querystring.limit","integration.request.querystring.account_id":"method.request.querystring.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"post":{"tags":["Site"],"summary":"Create a new site","description":"","operationId":"createSite","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"in":"body","name":"body","description":"##### Properties\n* name - **required** - The name of the site\n* account_id - **required** - The ID of the account that the site will belong to\n","required":true,"schema":{"type":"object","required":["name","account_id"],"properties":{"name":{"type":"string","example":"Torque Magazine"},"account_id":{"type":"string","format":"uuid","example":"eeda3227-9a39-46ae-9e14-20958bb4e6c9","description":"The account ID"}}}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Site"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/sites","responses":{"201":{"statusCode":"201"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/sites/{site_id}":{"get":{"tags":["Site"],"summary":"Get a site by ID","description":"Returns a single site","operationId":"getSite","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"site_id","in":"path","format":"uuid","description":"The site ID","required":true,"type":"string","x-example":"a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Site"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/sites/{site_id}","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.site_id":"method.request.path.site_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"patch":{"tags":["Site"],"summary":"Change a site name","description":"","operationId":"updateSite","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"site_id","in":"path","description":"The ID of the site to change the name of *(For accounts with sites enabled)*","required":true,"type":"string","format":"uuid","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* name - The new name for the site\n","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","description":"The new site name","example":"My New Name"}}}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Site"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/sites/{site_id}","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.site_id":"method.request.path.site_id"},"passthroughBehavior":"when_no_match","httpMethod":"PATCH","type":"http"}},"delete":{"tags":["Site"],"summary":"Delete a site","description":"This will delete the site and any installs associated with this site. This delete is permanent and there is no confirmation prompt.","operationId":"deleteSite","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"site_id","in":"path","description":"The ID of the site to delete *(For accounts with sites enabled)*","required":true,"type":"string","format":"uuid","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/sites/{site_id}","responses":{"204":{"statusCode":"204"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.site_id":"method.request.path.site_id"},"passthroughBehavior":"when_no_match","httpMethod":"DELETE","type":"http"}}},"/installs":{"get":{"tags":["Install"],"summary":"List your WordPress installations","description":"","operationId":"listInstalls","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"$ref":"#/parameters/limitParam"},{"$ref":"#/parameters/offsetParam"},{"$ref":"#/parameters/account_id"}],"responses":{"200":{"description":"List of WordPress installations","schema":{"type":"object","properties":{"previous":{"$ref":"#/definitions/PreviousPage"},"next":{"$ref":"#/definitions/NextPage"},"count":{"$ref":"#/definitions/ResultsCount"},"results":{"type":"array","items":{"$ref":"#/definitions/Installation"}}}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.querystring.offset":"method.request.querystring.offset","integration.request.querystring.limit":"method.request.querystring.limit","integration.request.querystring.account_id":"method.request.querystring.account_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"post":{"tags":["Install"],"summary":"Create a new WordPress installation","description":"","operationId":"createInstall","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"in":"body","name":"body","description":"##### Properties\n* name  - **required** - The name of the install\n* account_id - **required**  - The ID of the account that the install will belong to\n* site_id - **required for accounts with sites enabled** - The ID of the site that the install will belong to\n* environment - **required for accounts with sites enabled** - The site environment that the install will fill\n","required":true,"schema":{"type":"object","required":["name","account_id"],"properties":{"name":{"type":"string","description":"The name of the install"},"account_id":{"type":"string","description":"The ID of the account that the install will belong to","format":"uuid"},"site_id":{"type":"string","description":"The ID of the site that the install will belong to","format":"uuid","x-nullable":true},"environment":{"type":"string","description":"The site environment that the install will fill","x-nullable":true,"enum":["production","staging","development",null]}},"example":{"name":"torquemag","account_id":"eeda3227-9a39-46ae-9e14-20958bb4e6c9","site_id":"28c78b6d-c2da-4f09-85f5-1ad588089b2d","environment":"staging"}}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Installation"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs","responses":{"201":{"statusCode":"201"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}":{"get":{"tags":["Install"],"summary":"Get an install by ID","description":"Returns a single Install","operationId":"getInstall","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Installation"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"delete":{"tags":["Install"],"summary":"Delete an install by ID","description":"This will delete the install, The delete is permanent and there is no confirmation prompt.","operationId":"deleteInstall","parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}","responses":{"204":{"statusCode":"204"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"DELETE","type":"http"}},"patch":{"tags":["Install"],"summary":"Update a WordPress installation","description":"","operationId":"updateInstall","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","description":"The install ID","required":true,"type":"string","format":"uuid","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* site_id - **optional** - The ID of the site that the install will belong to *(For accounts with sites enabled)*\n* environment - **optional** - The site environment that the install will fill *(For accounts with sites enabled)*\n","required":true,"schema":{"type":"object","properties":{"site_id":{"type":"string","description":"The site ID","format":"uuid","example":"28c78b6d-c2da-4f09-85f5-1ad588089b2d"},"environment":{"type":"string","x-nullable":true,"enum":["production","staging","development",null]}},"example":{"site_id":"28c78b6d-c2da-4f09-85f5-1ad588089b2d","environment":"development"}}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Installation"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"PATCH","type":"http"}}},"/install_copy":{"post":{"tags":["Install"],"summary":"Copy the full file system and database from one WordPress installation to another","description":"","operationId":"copyInstall","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"in":"body","name":"body","description":"##### Properties\n* source_environment_id - **required** - The ID of the environment to copy from. Must be on the same account as destination_environment_id\n* destination_environment_id - **required** - The ID of the environment to copy to. The contents of this environment will be overwritten. Must be on the same account as source_environment_id\n* notification_emails - **optional** - An array of email addresses to notify when the copy is complete\n* custom_options - **optional** - Optional fields to customize how the install should be copied\n  * include_files - **optional** - Should files be copied? Boolean where true means include files in the copy. Default is true.\n  * include_db - **optional** - Should the database be copied? Boolean where true means include the database in the copy. Default is true.\n  * db_tables - **optional** - A list of tables to include in the copy. If unspecified, the full database will be copied. Cannot specifiy tables if `include_db` is `false`.\n","required":true,"schema":{"type":"object","required":["source_environment_id","destination_environment_id"],"properties":{"source_environment_id":{"type":"string","description":"The ID of the environment to copy from","format":"uuid","example":"8f14e45f-ceea-4b5b-9f6d-8f14e45fceea"},"destination_environment_id":{"type":"string","description":"The ID of the environment to copy to","format":"uuid","example":"c9f0f895-fb98-4f3c-9f0f-c9f0f895fb98"},"notification_emails":{"type":"array","description":"An array of email addresses to notify when the copy is complete","items":{"type":"string"}},"custom_options":{"type":"object","description":"Optional fields to customize how the install should be copied","properties":{"include_files":{"type":"boolean","description":"Should files be included in the copy. True means include files. Default is true."},"include_db":{"type":"boolean","description":"Should the database be included in the copy. True means include the database. Default is true."},"db_tables":{"type":"array","description":"A list of tables to include in the copy. If unspecified, the full database will be copied. Cannot specifiy tables if `include_db` is `false`.","example":["wp_posts","wp_comments"],"items":{"type":"string"}}}}}}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"description":"Too many requests","schema":{"$ref":"#/definitions/TooManyRequestsOperation"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"502":{"$ref":"#/definitions/BadGatewayOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/install_copy","responses":{"202":{"statusCode":"202"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"502":{"statusCode":"502"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/offload_settings/largefs_validation_file":{"get":{"tags":["Offload Settings"],"summary":"Get the validation file needed to configure LargeFS","description":"Returns the validation filename and contents necessary to configure an S3 bucket for LargeFS","operationId":"getLargeFSValidationFile","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"200":{"description":"LargeFS validation filename and contents","schema":{"$ref":"#/definitions/LargeFSValidationFile"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/offload_settings/largefs_validation_file","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/installs/{install_id}/offload_settings/files":{"get":{"tags":["Offload Settings"],"summary":"Get the offload settings for an install","description":"Returns the offload settings configuration for a specific install","operationId":"getOffloadSettings","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"200":{"description":"LargeFS offload settings configuration","schema":{"$ref":"#/definitions/LargeFSConfig"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/offload_settings/files","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"post":{"tags":["Offload Settings"],"summary":"Configure offload settings for an install","description":"Updates the offload settings configuration for a specific install","operationId":"updateOffloadSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* large_fs_config - **required** - The configuration for offloaded storage\n","required":true,"schema":{"$ref":"#/definitions/LargeFSConfig"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/offload_settings/files","responses":{"202":{"statusCode":"202"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}},"patch":{"tags":["Offload Settings"],"summary":"Update specific offload settings for an install","description":"Partially updates the offload settings configuration for a specific install","operationId":"patchOffloadSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* large_fs_config - **required** - The configuration for offloaded storage\n","required":true,"schema":{"$ref":"#/definitions/LargeFSConfig"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/offload_settings/files","responses":{"202":{"statusCode":"202"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"PATCH","type":"http"}}},"/installs/{install_id}/usage":{"get":{"tags":["Usage"],"summary":"Get a list of daily usage metrics","operationId":"getInstallUsageMetrics","description":"Get a list of daily usage metrics related to this install.\nIf the optional `first_date` and `last_date` arguments are omitted, the response will include metrics for the last 30 days.\nFor days where there are no storage metrics, they will be artificially filled with the last known storage metrics.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","description":"The UUID of the install.","required":true,"type":"string","format":"uuid","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"first_date","in":"query","description":"The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"last_date","in":"query","description":"The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.","required":false,"type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/InstallDailyUsageMetricsSeries"}},"400":{"description":"Bad Request. The request was improperly formatted or contained invalid parameters.","schema":{"$ref":"#/definitions/UsageErrorResponse"}},"404":{"description":"Not Found. The requested install id does not exist.","schema":{"$ref":"#/definitions/NotFoundErrorResponse"},"examples":{"application/json":{"message":"Not found"}}},"default":{"description":"An unexpected error response.","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/usage","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.querystring.first_date":"method.request.querystring.first_date","integration.request.querystring.last_date":"method.request.querystring.last_date"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/installs/{install_id}/usage/refresh_disk_usage":{"post":{"tags":["Usage"],"summary":"Refresh disk usage for the given WordPress site environment","operationId":"refreshEnvironmentDiskUsage","description":"Triggers an asynchronous job to recalculate the disk usage for the given WordPress site environment.\n\nThis endpoint initiates the refresh process and returns immediately with a success status. **It does not return the updated usage data.**\n\nTo check the status of the job and view the new data once it's available, you must poll for daily usage metrics at `GET /installs/{install_id}/usage`. The estimated time of completion can be viewed in daily usage metrics as the `storage_refresh_expected_time` field. If the field is `null`, the job has already completed.\n\nThe last time storage was refreshed can be viewed in the `storage_update_time` field of daily usage metrics.\n\nMultiple requests for the same environment will result in a single recalculation.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","description":"The UUID of the install.","required":true,"type":"string","format":"uuid","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"200":{"description":"OK. The disk usage refresh has been successfully initiated. The response body for this request is always `null`."},"400":{"description":"Bad Request"},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"502":{"$ref":"#/definitions/BadGatewayOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"},"default":{"description":"An unexpected error response.","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/usage/refresh_disk_usage","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"502":{"statusCode":"502"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/domains":{"get":{"tags":["Domain"],"summary":"Get the domains for an install by install id","description":"Returns domains for a specific install","operationId":"listDomains","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"$ref":"#/parameters/limitParam"},{"$ref":"#/parameters/offsetParam"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"}],"responses":{"200":{"description":"List of domains for install","schema":{"type":"object","properties":{"previous":{"$ref":"#/definitions/PreviousPage"},"next":{"$ref":"#/definitions/NextPage"},"count":{"$ref":"#/definitions/ResultsCount"},"results":{"type":"array","items":{"$ref":"#/definitions/Domain"}}}}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.querystring.offset":"method.request.querystring.offset","integration.request.querystring.limit":"method.request.querystring.limit"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"post":{"tags":["Domain"],"summary":"Add a new domain or redirect to an existing install","description":"Adds a domain or redirect to a specific install and optionally sets it as the primary domain","operationId":"createDomain","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* name  - **required** - The name of the new domain\n* primary - **optional**  - Sets the domain as the primary domain on the install\n* redirect_to - **optional** - ID of a domain to create a redirect to\n","required":true,"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"primary":{"type":"boolean"},"redirect_to":{"type":"string","format":"uuid"}},"example":{"name":"example.com","primary":true}}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Domain"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains","responses":{"201":{"statusCode":"201"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/domains/bulk":{"post":{"tags":["Domain"],"summary":"Add multiple domains and redirects to an existing install","description":"Adds multiple domains and redirects to a specific install","operationId":"createBulkDomains","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* domains - **required** - array of domains to be created, min size: 1, max size: 20\n  * items:\n    * name  - **required** - The name of the new domain (or redirect)\n    * redirect_to - **optional**  - Name of the domain to set redirect to\n","required":true,"schema":{"type":"object","required":["domains"],"properties":{"domains":{"type":"array","minItems":1,"maxItems":20,"items":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"redirect_to":{"type":"string"}}}}},"example":{"domains":[{"name":"example.com"},{"name":"www.example.com","redirect_to":"example.com"}]}}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/DomainOrRedirect"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/bulk","responses":{"201":{"statusCode":"201"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/domains/{domain_id}":{"get":{"tags":["Domain"],"summary":"Get a specific domain for an install","description":"Returns specific domain for an install","operationId":"getDomain","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"domain_id","in":"path","format":"uuid","description":"ID of domain","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Domain"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/{domain_id}","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.domain_id":"method.request.path.domain_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"patch":{"tags":["Domain"],"summary":"Update an existing domain for an install","description":"Updates an existing domain for an install. Cannot set a duplicate, wildcard, or redirected domain as the primary.","operationId":"updateDomain","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","description":"The install ID","required":true,"type":"string","format":"uuid","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"domain_id","in":"path","format":"uuid","description":"ID of domain","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"},{"in":"body","name":"body","description":"##### Properties\n* primary - **optional** - Boolean value to make the domain primary on the given install\n* redirect_to - **optional** - The UUID of another Domain record, or \"nil\" to remove an existing redirect.\n* secure_all_urls - **optional** - Boolean value to force all URLs to use HTTPS\n","required":true,"schema":{"type":"object","properties":{"primary":{"type":"boolean","example":true},"redirect_to":{"type":"string","example":"6977805b-1f65-4a5d-8d36-6fe609a4d9f3"},"secure_all_urls":{"type":"boolean","example":false}}}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Domain"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/{domain_id}","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.domain_id":"method.request.path.domain_id"},"passthroughBehavior":"when_no_match","httpMethod":"PATCH","type":"http"}},"delete":{"tags":["Domain"],"summary":"Delete a specific domain for an install","description":"Delete specific domain for an install","operationId":"deleteDomain","parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"domain_id","in":"path","format":"uuid","description":"ID of domain","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"}],"responses":{"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/{domain_id}","responses":{"204":{"statusCode":"204"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.domain_id":"method.request.path.domain_id"},"passthroughBehavior":"when_no_match","httpMethod":"DELETE","type":"http"}}},"/installs/{install_id}/domains/{domain_id}/check_status":{"post":{"tags":["Domain"],"summary":"Submit a status report for a domain","description":"Submit a status report for a domain. Returns a `report_id` that can be used to check the domain's status.","operationId":"checkStatus","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"domain_id","in":"path","format":"uuid","description":"ID of domain","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"}],"responses":{"202":{"description":"Accepted","schema":{"$ref":"#/definitions/DomainReport"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"description":"Too many requests","schema":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"A message regarding the error that occurred on the server","example":"Domain status checks are rate-limited to one request every 5 seconds for each install"}}}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/{domain_id}/check_status","responses":{"202":{"statusCode":"202"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.domain_id":"method.request.path.domain_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/ssl_certificates":{"get":{"tags":["Certificates"],"summary":"List SSL certificates for an install","description":"Returns a list of SSL certificates for a given install. If no certificates exist, returns 404 with a specific error message.","operationId":"getInstallCertificates","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"$ref":"#/parameters/limitParam"},{"$ref":"#/parameters/offsetParam"}],"responses":{"200":{"description":"List of SSL certificates for the install","schema":{"$ref":"#/definitions/InstallSSLCertificatesResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"No SSL certificates found","schema":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"Error message indicating no SSL certificates were found","example":"No SSL certs found for environment 'testinstall'"}}}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/ssl_certificates","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.querystring.offset":"method.request.querystring.offset","integration.request.querystring.limit":"method.request.querystring.limit"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/installs/{install_id}/domains/{domain_id}/ssl_certificate":{"get":{"tags":["Certificates"],"summary":"Get SSL certificate information for a domain","description":"Returns certificate information for a given domain on an install","operationId":"getDomainCertificate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"domain_id","in":"path","format":"uuid","description":"ID of domain","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"}],"responses":{"200":{"description":"Domain certificate information","schema":{"$ref":"#/definitions/DomainCertificate"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/{domain_id}/ssl_certificate","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.domain_id":"method.request.path.domain_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}},"post":{"tags":["Certificates"],"summary":"Request a Let's Encrypt Certificate for a legacy domain","description":"Submits a request for a Let's Encrypt Certificate for a given domain on an install. This is for domains on the legacy network.","operationId":"createDomainCertificateOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"domain_id","in":"path","format":"uuid","description":"ID of domain","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"},{"name":"body","in":"body","description":"##### Properties\n* email_address - **required** - The certificate's holder's email address\n* given_name - **required** - The certificate holder's first / given name\n* family_name - **required** - The certificate holder's last / family name\n* region_code - **required** - The two-letter ISO 3166-1 alpha-2 code for the certificate's country\n* state - **optional** - The certificate's state / region\n* city - **optional** - The certificate's city / locality\n* phone - **optional** - The certificate holder's phone number\n","required":true,"schema":{"$ref":"#/definitions/CertificateOrder"}}],"responses":{"202":{"description":"Accepted. Order has been accepted for processing."},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/{domain_id}/ssl_certificate","responses":{"202":{"statusCode":"202"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.domain_id":"method.request.path.domain_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/ssl_certificates/third_party":{"post":{"tags":["Certificates"],"summary":"Import third-party SSL certificate for an install","description":"Imports a third-party PEM formatted SSL certificate and key for an install","operationId":"importThirdPartySSLCertificate","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* certificate - **required**  - Base64 encoded PEM certificate\n* private_key - **required** - Base64 encoded PEM private key\n","required":true,"schema":{"type":"object","required":["certificate","private_key"],"properties":{"certificate":{"type":"string","description":"Base64 encoded PEM certificate chain including the end-entity certificate and all intermediate CA certificates"},"private_key":{"type":"string","description":"The corresponding base64 encoded PEM private key"}},"example":{"certificate":"aGVsbG8K","private_key":"d29ybGQK"}}}],"responses":{"200":{"description":"Successful import of third party certificate","schema":{"$ref":"#/definitions/ThirdPartySuccessfulImportResponse"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/ssl_certificates/third_party","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/domains/check_status/{report_id}":{"get":{"tags":["Domain"],"summary":"Retrieve a status report for a domain","description":"Fetches a status report for a specific domain. Accepts a `report_id`.","operationId":"getDomainReportStatus","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"report_id","in":"path","required":true,"type":"string","x-example":"6a6d5dbd-5cac-41d5-8f3f-14a3e8ae6f76"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"report":{"$ref":"#/definitions/DomainStatusReport"}}}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/InternalServerErrorResponse"}},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/domains/check_status/{report_id}","responses":{"200":{"statusCode":"200"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"500":{"statusCode":"500"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.report_id":"method.request.path.report_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/installs/{install_id}/backups":{"post":{"tags":["Backup"],"summary":"Requests a new backup of a WordPress installation","description":"Kicks off a backup of a WordPress installation.","operationId":"createBackup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* description - **required**  - A description of this backup.\n* notification_emails - **required** - The email address(es) that will receive an email once the backup has completed.\n","required":true,"schema":{"type":"object","required":["description","notification_emails"],"properties":{"description":{"type":"string","description":"A description of this backup."},"notification_emails":{"type":"array","items":{"type":"string"},"description":"The email address(es) that will receive an email once the backup has completed."}},"example":{"description":"Taking a backup of torquemag before I start developing new features for it","notification_emails":["myself@torquemag.com","other_person_interested_in_backup@torquemag.com"]}}}],"responses":{"202":{"description":"Accepted","schema":{"$ref":"#/definitions/Backup"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ForbiddenErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"description":"Too many requests"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/backups","responses":{"202":{"statusCode":"202"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"403":{"statusCode":"403"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id"},"passthroughBehavior":"when_no_match","httpMethod":"POST","type":"http"}}},"/installs/{install_id}/backups/{backup_id}":{"get":{"tags":["Backup"],"summary":"Retrieves the status of a backup of a WordPress installation","description":"Retrieves the status of a backup of a WordPress installation.\nPossible statuses include\n- `requested`\n- `initiated`\n- `completed`\n- `aborted`\n","operationId":"showBackup","produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"name":"backup_id","in":"path","format":"uuid","description":"ID of backup","required":true,"type":"string","x-example":"e41fa98f-ea80-4654-b229-a9b765d0863a"}],"responses":{"200":{"description":"A backup","schema":{"$ref":"#/definitions/Backup"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestErrorResponse"}},"401":{"description":"Authentication Error","schema":{"$ref":"#/definitions/AuthenticationErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundErrorResponse"}},"429":{"$ref":"#/definitions/TooManyRequestsOperation"},"503":{"$ref":"#/definitions/ServiceUnavailableOperation"}},"security":[{"basicAuth":[]}],"x-amazon-apigateway-integration":{"uri":"https://my.wpengine.com/capi/v1/installs/{install_id}/backups/{backup_id}","responses":{"200":{"statusCode":"200"},"400":{"statusCode":"400"},"401":{"statusCode":"401"},"404":{"statusCode":"404"},"429":{"statusCode":"429"},"503":{"statusCode":"503"},"default":{"statusCode":"500"}},"requestParameters":{"integration.request.header.X-Request-ID":"context.requestId","integration.request.header.sourceIp":"context.identity.sourceIp","integration.request.header.authorization":"method.request.header.Authorization","integration.request.path.install_id":"method.request.path.install_id","integration.request.path.backup_id":"method.request.path.backup_id"},"passthroughBehavior":"when_no_match","httpMethod":"GET","type":"http"}}},"/installs/{install_id}/purge_cache":{"post":{"tags":["Cache"],"summary":"Purge an install's cache","description":"This will purge the specified cache associated with the install.\nAllowed types:\n\n          - \"object\"\n          - \"page\"\n          - \"cdn\"\n          - \"all\"\n","operationId":"purgeCache","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/authorization"},{"name":"install_id","in":"path","format":"uuid","description":"ID of install","required":true,"type":"string","x-example":"294deacc-d8b8-4005-82c4-0727ba8ddde0"},{"in":"body","name":"body","description":"##### Properties\n* type - **required**  - The type of cache to be purged\n","required":true,"schema":{"type":"object","required":["type"],"properties":{"type":{"type":"string","e
[...]
